#container
{
    width: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#chatWindow
{
    height: 300px;
    overflow-y: scroll;
}
/*Scrollbar*/
::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-button
{
    width: 8px;
    height:5px;

}

::-webkit-scrollbar-track
{
    background:#AFB7B7;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #847575 inset;
    border-radius:10px;
}

::-webkit-scrollbar-thumb
{
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover
{
    background:#7d7d7d;
}


#mainWrapper
{
    display: none;
}

#chatWrapper
{
    float: left;
    margin-left: 20px;
    width: 90%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#userWrapper
{
    float: left;
    box-shadow: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;
    max-height: 200px;
}

#users
{
    color: rgba(255, 255, 255, 0.7);
}

#chatWindow
{
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

#namesWrapper
{
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}

#namesWrapper h2
{
    font-family: Gill Sans, Verdana;
    font-size: 20px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
}
#namesWrapper p
{
    color: #fff;
}
#messageForm
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#messageForm #message
{
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    height: 20px;
    margin: 0;
    padding-right: 20px;
    width: 100%
}
#messageForm textarea:focus:-webkit-placeholder
{
    color: transparent;
}
#messageForm .message-submit
{
    position: absolute;
    z-index: 1;
    bottom: 25px;
    right: 10px;
    color: #fff;
    border: none;
    background: #248A52;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
#messageForm .message-submit:hover
{
    background: #1D7745;
}
/*username*/
#usernameForm
{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#usernameForm #username
{
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    height: 20px;
    margin: 0;
    padding-right: 20px;
    width: 100%;
}
#usernameForm textarea:focus:-webkit-placeholder
{
    color: transparent;
}
#usernameForm .user-submit
{
    position: absolute;
    z-index: 1;
    bottom: 25px;
    right: 10px;
    color: #fff;
    border: none;
    background: #248A52;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
#usernameForm .user-submit:hover
{
    background: #1D7745;
}
input
{
    height: 30px;
}