#container
{
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#chatWindow
{
    height: 300px;    
    overflow-y: scroll;
}
/*Scrollbar*/
::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-button
{
    width: 8px;
    height:5px;

}

::-webkit-scrollbar-track
{
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}

::-webkit-scrollbar-thumb
{
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover
{
    background:#7d7d7d;
}


#mainWrapper
{
    display: none;
}

#chatWrapper
{
    float: left;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#userWrapper
{
    float: left;
    box-shadow: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    width: 265px;
    max-height: 200px;
}

#users
{
    color: rgba(255, 255, 255, 0.7);
}

#chatWindow
{
    color: rgba(255, 255, 255, 0.7);
}

#namesWrapper
{
    float: left;
    border: 1px #ccc solid;
    border-radius: 10px;
    background: #f4f4f4;
    padding: 10px;
    margin-left: 20px;
}

#messageForm
{
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 40px;
    -ms-flex: 0 1 40px;
    flex: 0 1 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
}
#messageForm #message
{
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
}
#messageForm textarea:focus:-webkit-placeholder
{
    color: transparent;
}
#messageForm .message-submit
{
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 10px;
    color: #fff;
    border: none;
    background: #248A52;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
#messageForm .message-submit:hover
{
    background: #1D7745;
}

input
{
    height: 30px;
}
