body
{
    background: url("../css/images/3.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#status.success
{
    background: none;
    font-family: "Comic Sans MS", sans-serif;
    margin: 0px;
}

#status.fail
{
    background: red;
    margin: 0px;
}

#status
{
    padding: 5px;
    color: #fff;
    background: #ccc;
}

#room
{
    height: 30px;
    background: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    border-color:rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.audio_box
{
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.intro
{
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    font-style: italic;
    font-variant: small-caps;
    text-decoration: none;
    color: #afafaf;
    font-size: 14px;
}
.introTit
{
    font-family: Gill Sans, Verdana;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #afafaf;
}
#meta
{
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing:0.1em;
    text-align:center;
    margin: 40px auto;
    text-transform: lowercase;
    line-height: 100%;
    font-size: 18pt;
    font-variant: small-caps;
}

#chatPage
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
}