body
{
    background: url("../css/images/3.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#status.success
{
    background: none;
    font-family: "Comic Sans MS", sans-serif;
    margin: 0px;
}

#status.fail
{
    background: red;
    margin: 0px;
}

#status
{
    padding: 5px;
    color: #fff;
    background: #ccc;
}


.footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}